@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-dark: rgba(10, 10, 10);
  --color-brand-text-dark: rgb(237, 237, 237);
  --color-brand-text-light: rgb(23, 23, 23);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Setting Dark Mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Setting Animation */
@layer utilities {
  @keyframes scale-up4 {
    20% {
      background-color: #fff;
      transform: scaleY(1.5);
    }
    40% {
      transform: scaleY(1);
    }
  }
  .animate-scale-up4 {
    animation: scale-up4 1s linear infinite;
  }
}